<footer class="section footer">
	<div class="container">
		<div class="columns">
			<div class="column is-5">
				<div class="shopify-partnerlogo">
					<img src="{{ "/img/partnerlogo.png" | absURL }}" alt="Alioned Agency Certified Shopify Partner">
				</div>
				<h2 class="title is-size-2" >Shopify Web Design, Development &amp; Marketing</h2>
				<p class="copy">&copy; 2019 Alioned Agency. Shopify Certified Partner.</p>
			</div>
			<div class="column is-offset-2 is-2">
				<h4>Links</h4>
				<ul class="footer-quicklinks">
					<li><a href="https://ed.codes">Ed's site</a></li>
					<li><a href="https://kristina.marketing">Kristina's site</a></li>
				</ul>
			</div>
			<div class="column is-2 end-col">
				<h4>Follow Alioned</h4>
				<ul class="footer-social">
					<li><a href="https://www.facebook.com/AlionedAgency/">Facebook</a></li>
					<li><a href="https://www.instagram.com/alioned_agency/">Instagram</a></li>
					<li><a href="https://twitter.com/AlionedAgency">Twitter</a></li>
					<li><a href="https://www.linkedin.com/company/19175337">LinkedIn</a></li>
					<li><a href="https://dribbble.com/kristismart">Dribbble</a></li>
				</ul>
				<a href="mailto:contact@alioned.com" class="contact">Get In Touch &rarr;</a>
			</div>
		</div>
	</div>
</footer>