<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPF6256"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="section main-header">
	<div class="container">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="https://alioned.com">
					<!-- <h2 class="title is-size-1 alioned-brand">Alioned</h2> -->
					<img class="logo" src="/img/square_logo.png" alt="Alioned Agency">
				</a>
			</div>

			<div class="navbar-nav">
				<a href="/shopify-setup" class="navbar-item text-m">Shopify Setup</a>
				<a href="#contact" style="text-decoration: underline;" class="navbar-item text-m">Get in Touch &rarr;</a>
			</div>
		</nav>
	</div>
</header>