body {
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Poppins", sans-serif;
}

.is-font-light {
  font-weight: 300;
}

.alioned-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.text-l {
  font-size: 1.125rem;
}

.text-m {
  font-size: 1rem;
}

.text-s {
  font-size: 0.875rem;
}

.ed-violet {
  color: #5C6AC4;
}

.kristi-orange {
  color: #FF7075;
}

.social-links li {
  font-family: initial;
  display: inline-block;
  color: #5C6AC4;
  background: white;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.9em;
  vertical-align: middle;
  text-align: center;
  font-size: 1.25em;
  border-radius: 100%;
  margin-right: 1rem;
}
.social-links li a {
  color: #5C6AC4;
}
.social-links li.instagram-adjust svg {
  font-size: 1.1em;
  position: relative;
  top: 1px;
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (max-width: 768px) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.section h2.title {
  margin-bottom: 3rem;
}

header.section {
  padding-top: 3rem;
  padding-top: 3rem;
}
header.section .navbar-brand .navbar-item {
  display: block;
}
header.section .subtitle {
  color: #BDBDBD;
  font-weight: 600;
  font-size: 2rem;
}

section.intro {
  background-image: url("assets/alioned.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  padding-top: 0;
}
@media (max-width: 1000px) {
  section.intro {
    background-position: 50% 20%;
  }
}
section.intro .main-links {
  font-weight: 700;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
}
section.intro .main-links a {
  text-decoration: underline;
}
section.intro .together {
  margin-bottom: 10px;
}
section.intro .alioned-brand {
  margin-bottom: 6rem;
}
@media (max-width: 700px) {
  section.intro {
    background-image: url("assets/alioned-mobile.png");
    background-size: 80%;
  }
  section.intro .main-links {
    margin-bottom: 280px;
  }
  section.intro .alioned-brand {
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  section.intro .main-links {
    margin-bottom: 220px;
  }
}
@media (min-width: 1200px) {
  section.intro {
    background-size: 90%;
    background-position: 50% 0;
  }
}

section.services {
  position: relative;
}
section.services .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: #DBDCED;
}
section.services .lead {
  margin-bottom: 3rem;
}
section.services .column {
  display: flex;
}
section.services .service {
  background: white;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section.services .service img {
  width: 42px;
  margin-bottom: 2rem;
}
section.services .service h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
section.services .service p {
  margin-bottom: 2rem;
}
section.services .service a {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

section.principles {
  position: relative;
}
section.principles .background {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 90%;
  background-color: #EDEDF6;
}
@media (max-width: 768px) {
  section.principles .background {
    width: 100%;
    height: 95%;
  }
}
section.principles .title {
  margin-left: 8.33333%;
}
section.principles blockquote {
  padding-left: 2rem;
  padding-top: 32px;
  font-style: italic;
  position: relative;
  text-indent: 32px;
  font-size: 1.125rem;
}
section.principles blockquote:before {
  content: "";
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  left: 16px;
  background-image: url("assets/quotes.png");
  background-size: 100%;
}
section.principles blockquote cite {
  font-style: normal;
  display: block;
  text-align: right;
  margin-top: 1rem;
}
section.principles .principle {
  margin-bottom: 3rem;
}
section.principles .principle h3 {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

section.portfolio .image-container {
  position: relative;
}
section.portfolio .image-container:hover .img-cover {
  opacity: 1;
}
section.portfolio .image-container img {
  display: block;
}
section.portfolio .image-container .img-cover {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
section.portfolio .image-container .img-cover .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.portfolio .image-container .img-cover .text .site-name {
  margin-bottom: 0.5rem;
}
section.portfolio .image-container .img-cover .text .button {
  background: transparent;
  color: white;
  border-color: white;
}

section.contact {
  background: #5C6AC4;
  color: white;
}
section.contact a, section.contact .title {
  color: white;
}
section.contact .social-links li a {
  color: #5C6AC4;
}
section.contact .contact-info .title {
  margin-bottom: 3rem;
}
section.contact .contact-info .title + p {
  margin-bottom: 3rem;
}
section.contact .contact-info .title + p a {
  font-weight: 600;
}
section.contact .contact-info .social .text-s {
  margin-bottom: 0.5rem;
}
section.contact .contact-info .social li {
  display: inline-block;
}
section.contact .contact-form {
  margin-top: calc(3rem + 35px);
}
section.contact .contact-form .input,
section.contact .contact-form .textarea {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
section.contact .contact-form input {
  height: 3em;
}
section.contact .contact-form .button {
  background-color: white;
  color: #5C6AC4;
  font-weight: 600;
}
@media (max-width: 768px) {
  section.contact .contact-info .title + p {
    margin-bottom: 2rem;
  }
  section.contact .contact-info .email {
    margin-bottom: 2rem;
  }
  section.contact .contact-form {
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=alioned.css.map */
