// sass --watch alioned.scss alioned.css
// sass --watch .:. (entire folder)


$kristi-orange: #FF7075;
$ed-violet: #5C6AC4;
$alioned-violet: #4E51A6;

$alioned-text: #36364D;
$alioned-text-light: #F8F8FC;

$alioned-footer: #3E4084;




body {
	font-family: 'Open Sans', sans-serif;
	color: $alioned-text;
	.strong {
		color: $alioned-text;
	}
}

.title, h1, h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: $alioned-text;
}


.is-font-light {
	font-weight: 300;
}

.alioned-brand {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -0.03em;
}

.text-l {
	font-size: 1.125rem;
}
.text-m {
	font-size: 1rem;
}
.text-s {
	font-size: 0.875rem;
}

.ed-violet {
	color: $ed-violet;
}
.kristi-orange {
	color: $kristi-orange;
}
.alioned-violet {
	color: $alioned-violet;
}

.social-links {
	li {
		font-family: initial;
		display: inline-block;
		color: $alioned-violet;
		background: white;
		width: 1.8em;
		height: 1.8em;
		line-height: 1.9em;
		vertical-align: middle;
		text-align: center;
		font-size: 1.25em;
		border-radius: 100%;
		margin-right: 1rem;
		a {
			color: $alioned-violet;
		}
		&.instagram-adjust svg {
			font-size: 1.1em;
			position: relative;
			top: 1px;
		}
	}
}

.section {
	padding-top: 6rem;
	padding-bottom: 6rem;
	@media (max-width: 768px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	h2.title {
		margin-bottom: 3rem;
	}
}

.button {
	&.alioned-button {
		border-radius: 5px;
		font-weight: 700;
		font-size: 1rem;
		min-width: 150px;
		height: 50px;
		transition: transform 0.2s ease-in-out;
		&:hover {
			-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
		}
	}
	&.alioned-full {
		background-color: $alioned-violet;
		box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
		color: white;
		border: none;
	}
	&.alioned-outlined {
		border-color: $alioned-violet;
		border-width: 2px;
		box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
		color: $alioned-violet;
	}
}


// END GLOBAL /////////////////////////////



header.section {
	.navbar-brand .navbar-item {
		display: block; //remove this when replacing with logo, flex by default
	}
	
	.subtitle {
		color: #BDBDBD;
		font-weight: 600;
		font-size: 2rem;
	}
	padding-top: 3rem;
	padding-bottom: 6rem;

	.title {
		margin-bottom: 0;
	}

	.logo {
		max-height: none;
		width: 164px;
	}

	@media (max-width: 768px) {
		padding-bottom: 3rem;
	}
}


// END HEADER ////////////////////////////


footer.section.footer {
	background-color: $alioned-footer;
	.shopify-partnerlogo {
		display: inline-block;
		max-width: 284px;
		margin-bottom: 3rem;
	}
	h2,a,p {
		color: $alioned-text-light;
	}
	h2 {
		margin-bottom: 4rem;
	}
	h4 {
		color: #BBBBEC;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}
	a {
		text-decoration: underline;
	}
	li {
		padding-bottom: 10px;
	}
	.footer-social {
		margin-bottom: 3rem;
	}
	.end-col {
		display: flex;
		flex-direction: column;
		.contact {
			margin-top: auto;
		}
	}
	@media (max-width: 768px) {
		h4 {
			margin-bottom: 1rem;
		}
		.copy {
			display: none;
		}
	}
}


// END FOOTER ////////////////////////////




@import 'home';

@import 'setup';





