
{{ define "main" }}

	<section class="setup-intro section">
		<div class="container ">
			<div class="columns">
				<div class="column">
					<h1 class="title is-size-1">
						Welcome to Alioned
					</h1>
					<h2 class="text-l blurb">Specializing in Shopify since 2015. We provide Shopify Development, Design and Marketing services for Small-Medium Businesses.</h2>
					<div class="cta">
						<a href="#contact" class="button alioned-button alioned-full">Contact</a>
						<a href="#about" class="alioned-goto">Or see why we're worth it &rarr;</a>
					</div>
				</div>
				<div class="column">
					<img src="/img/alioned-setup.png" alt="Alioned Agency Shopify Setup Service">
				</div>
			</div>
			
		</div>
	</section>

	<section class="our-setup section">
		<div class="container">
			<h2 class="title is-size-2">Our turnkey Shopify Setup</h2>
			<h3 class="subtitle is-size-4"><strong>All</strong> of our Shopify Setup packages include:</h3>
			<div class="setup-cat">
				<div class="background"></div>
				<h3 class="setup-cat-heading is-size-4">Design & Layout</h3>
				<div class="columns">
					<div class="column is-4">
						<ul>
							<li>
								<p>Theme consultation</p>
								<p>Price of theme included, we purchase it on your behalf.</p>
							</li>
							<li>
								<p>Branding Setup</p>
								<p>Logo uploaded, theme customized with brand colors and styles.</p>
							</li>
							<li>
								<p>Brand fonts installed</p>
								<p>Font sizes and spacing adjusted for this font</p>
							</li>
							<li>
								<p>Navigation set-up</p>
							</li>
						</ul>
					</div>
					<div class="column is-4">
						<ul>
							<li>
								<p>Homepage sections consult and set-up </p>
								<p>Hero slider/carousel, featured collections, instagram feed, featured products, etc…</p>
							</li>
							<li>
								<p>Non product images </p>
								<p>Heros, sliders, collection featured, homepage) cropped and edited, or stock images picked.</p>
							</li>
							<li>
								<p>Contact page with contact form</p>
							</li>
							<li>
								<p>Images optimized for web</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="setup-cat">
				<div class="background"></div>
				<div class="columns is-multiline">
					<div class="column is-4 is-offset-3">
						<h3 class="setup-cat-heading is-size-4">Launch SEO</h3>
						<ul>
							<li>
								<p>Google Analytics Setup</p>
							</li>
							<li>
								<p>Google Search Console (Webmaster Tools) Setup</p>
								<p>Logo uploaded, theme customized with brand colors and styles.</p>
							</li>
							<li>
								<p>Technical SEO Audit before launching</p>
								<ul class="seo-list">
									<li>Check Meta and headings</li>
									<li>Schema / Google Structured Data</li>
									<li>Images Optimized</li>
									<li>Page speed tested</li>
									<li>Sitemap uploaded to Google Search Console</li>
								</ul>
							</li>
							<li>
								<p>Navigation set-up</p>
							</li>
						</ul>
					</div>
					<div class="column is-4">
						<h3 class="setup-cat-heading is-size-4">Social Media connected</h3>
						<ul>
							<li>
								<p>Social Media Icons</p>
							</li>
							<li>
								<p>Instagram feed</p>
							</li>
						</ul>
						<h3 class="setup-cat-heading is-size-4">And More</h3>
						<ul>
							<li>
								<p>Favicon created from logo and uploaded</p>
							</li>
							<li>
								<p>Domain (.com) set up</p>
							</li>
							<li>
								<p>Proofread content</p>
							</li>
						</ul>
					</div>
					<div class="support-note column is-8 is-offset-3">
						<h3 class="setup-cat-heading is-size-4">Post-Launch Support & Education</h3>
						<p>We don’t leave you in the deep end on your own after the final bill has been paid! We provide 30 days of active tech support for changes requiring 30 mins or less, and lifetime email support.</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="vs-diy section">
		<div class="container">
			<h2 class="title is-size-2">Our setup vs doing it yourself</h2>
			<div class="benefit">
				<img src="/img/experience-benefit.png" alt="">
				<div>
					<h3 class="is-size-4">We have years of experience and know all the rights and wrongs.</h3>
					<p>We’ve worked with Shopify since 2015 back when it was relatively unknown. We’ve seen it grow and develop and know
						it really well. All this time we’ve also been helping clients with various types of online
						businesses, so we can foresee the problems you might encounter.</p>
				</div>
			</div>
			<div class="benefit">
				<img src="/img/hours-benefit.png" alt="">
				<div>
					<h3 class="is-size-4">We save you hundreds of hours in the long run.</h3>
					<p>As a store owner you have a lot to worry about aside from the website; including creating or sourcing the products, the shipping, and the site content. With our help you can focus on the business side and leave the technical stuff to us. </p>
				</div>
			</div>
			
			{{/*  <div class="benefit">
				<img src="/img/quality-benefit.png" alt="">
				<div>
					<h3 class="is-size-4">The difference is in the quality - visual, performance, traffic and conversions.</h3>
					<p>The difference between an amateur and professional web designer: a better looking site, a faster site, more
						visitors and more purchases.</p>
				</div>
			</div>  */}}
		</div>
	</section>


	{{ partial "section-contact.html" . }}


{{ end }}